.cont{
    border: 1px solid;
    border-radius: 10px;
    background-color: var(--white);
    padding: 20px;
}
.text{
    color: var(--gray);
    font-weight: bold;
}
.test{
    background-color: red;
}
.button{
    display: flex;
    justify-content: end;
}
.statusBadge {
    width: 100px;
    padding: 4px 0px;
    font-family: var(--font-family-solid);
    font-size: 0.8rem;
    text-align: center;
    border-radius: 8px;
    font-weight: 400;
    color: white;
  }
  .flag{
    padding-left: 20px;
    /* background-color: red; */
  }
  .text2{
    font-size: medium;
  }